<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
            <div class="navbar-nav align-items-center">
                <a href="/" class="nav-link">Home</a>
                <a href="/campgrounds" class="nav-link">Campgrounds</a>
                <a href="/campgrounds/new" class="nav-link">New Campground</a>
            </div>
            <div class="navbar-nav ms-auto align-items-center">
                <% if(!user){ %>
                    <a href="/login" class="btn btn-outline-success me-2 mb-2 mb-md-0">Login</a>
                    <a href="/register" class="btn btn-outline-warning me-2">Register</a>
                <% }else{ %>
                    <form action="/logout" method="POST">
                        <button class="btn btn-outline-danger">Logout</button>
                    </form>
                <% } %>
            </div>
        </div>
    </div>
</nav>